a,
a * {
  color: var(--c-brand);
}

Doc {
  display: none;
}

.last-updated * {
  font-size: 12px;
}
.page .container .content {
  min-height: calc(100vh - 260px);
}
.theme .nav-bar {
  background-color: #ffffffcc;
}
